<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
{{head}}
</head>
<body class="{{bodyclass}}">
    <div class="body-collapse">
        <div class="wrap">
            {{header}}
            <div class="container col1-layout">
                <div class="main">
                    {{breadcrumbs}}
                    <div class="col-main">
                        {{global_messages}}
                        {{content}}
                        <div class="visible-phone">
                            {{bottomLinks}}
                        </div>
                    </div>
                </div>
            </div>
            {{global_notices}}
            <div class="push hidden-phone"></div>
        </div>
        {{footer}}
        {{footer_js}}
    </div>
</body>
</html>
